.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.main {
  margin-top: 100px;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 150%;
}

.todo_card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 150%;
  min-height:100vh;
  max-height:inherit;
}



.card:hover,
.card:focus,
.card:active {
  border-color: #0070f3;
}

.todo_card:hover,
.todo_card:focus,
.todo_card:active {
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}
.todo_card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* Form */
.input_area {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Add Form */
.input_add {
  background-color: rgb(243, 243, 243);
  border-radius: 16px;
  border: none;
  padding: 14px 16px;
  margin: 30px 0px;
  outline: none;
  width: 50%;
}

/* Edit Form */
.input_edit {
  background-color: rgb(243, 243, 243);
  border-radius: 16px;
  border: none;
  padding: 10px 16px;
  outline: none;
  width: 20%;
}

.pull_down {
  padding-left: 10px;
}

.add_button {
  margin-left: 10px;
  border-radius: 16px;
  padding: 8px 10px;
  border: none;
}

.add_button:hover {
  cursor: pointer;
  color: #0070f3;
  background-color: #fafafa;
  transition: all 0.3s ease-out;
}


/* Todo List Area*/

.appTitle {
  margin-top: 40;
  line-height: 1.15;
  font-size: 4rem;
}

.appTitle,
.description {
  text-align: center;
}

/* Edit Button */
.edit_button {
  margin-left: 10px;
  border-radius: 16px;
  padding: 6px 10px;
  border: none;
}

.edit_button:hover {
  cursor: pointer;
  color: #0070f3;
  background-color: #fafafa;
  border: none;
  transition: all 0.3s ease-out;
}



/* Delete Button */

.delete_button {
  margin-left: 10px;
  border-radius: 16px;
  padding: 6px 10px;
  border: none;
}

.delete_button:hover {
  cursor: pointer;
  color: #f3005d;
  background-color: #fafafa;
  border: none;
  transition: all 0.3s ease-out;
}


.list_row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-bottom: 2px #eaeaea solid  ;
  opacity: 100%;
}

.list_row:hover {
  border-bottom: 1px #0070f3 solid;
  opacity: 60%;
}

.todo_title {
  font-size: 20px;
}

.todo_state {
  color: #0070f3;
  margin-left: 10px;
  padding: 1px 5px;
  font-size: 15px;
  border: 2px #eaeaea solid  ;
  border-radius: 16px;
  line-height: 1.5;
}

.list_head {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Status Sort */
.stateSort_area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stateSort_area p {

  margin: 0 10px;
  font-size: 22px;
}

.stateSort_area p:hover {
  color: #0070f3;
  cursor: pointer;
  border-bottom: #eaeaea 2px solid;
  transition: all 0.5s ease-out;
}

.is_active {
  color: #0070f3;
  margin: 0 10px;
  font-size: 20px;
  border-bottom: #eaeaea 2px solid;
}

.is_nonactive {
  pointer-events: none;
}

/* Oder Sort Button */
.pulldown_orderSort {
  position: relative;
  margin-left: 20px;
}




/* Footer */
.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
