.select {
	overflow: hidden;
	width: 100%;
	margin: 2em auto;
	text-align: center;
}
.select select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.select select::-ms-expand {
    display: none;
}
.select.menu {
	position: relative;
	border-radius: 16px;
	border: 1px solid #0070f3;
	background: #ffffff;
}
.select.menu::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #0070f3;
	pointer-events: none;
}
.select.menu select {
	padding: 8px 38px 8px 8px;
	color: #0070f3;
}